.grade-comprar{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 50vh 15vh;
    grid-gap: 0px;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: "resumo" 
                         "leitor"
                         "acoes" 
}

.resumo-comprar{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: resumo;
    color: #FFFAFA;
}

.resumo-comprar .titulo-comprar{
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.resumo-comprar .consumo-valor-comprar{
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    
}

.resumo-comprar .consumo-litros-comprar{
    text-align: center;
    width: 100%;
    height: 20px;
}

.resumo-comprar .consumo-litros-comprar span{
    background-color: rgb(252,226,75, .9);
    border-radius: 15px 15px 15px 15px;
    color: black;
    font-weight: bold;
    padding: 5px 60px 5px 60px;
}

.leitor-comprar{
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: leitor;
    background-color: white;
}

#canvas{
    height: 100%;
    width: 100%;    
}

.acoes-comprar{
    background-color: rgb(135,206,235, .3);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: acoes;
}

.acoes-comprar a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgb(252,226,75);
    background: linear-gradient(180deg, rgba(252,226,75,1) 0%, rgba(247,159,44,0.6759746134782038) 85%);
    color: 	white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    line-height: 1.1;
    width: 90%;
    padding: 10px 20px 10px 20px;
    text-align: center;
    transition: 220ms all ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.camera{
    visibility: hidden;
    overflow:hidden;
    height: 0px;
    width: 0px;
}

.camera.active{
    visibility: visible;  
}

.ultima-compra{
    visibility: hidden;
    overflow:hidden;
    height: 0px;
    width: 0px;
    background-image: url('../img/ultima-compra.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position-x: center;
    background-position-y: top;
}

.ultima-compra.active{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    visibility: visible;      
    width: 100%;
    height: 100%;
    color: 	#363636;
}

.ocultar{
    visibility: hidden;
}